@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.ttc'); 
    font-weight: normal;
    font-style: normal;
}
@import url(http://fonts.googleapis.com/css?family=Raleway:100);

html {
  overflow-x:hidden;
}
body,
html,
div.board,
div#react-container {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}
a {
    color: rgb(186, 191, 241);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
a:active, a:hover, a:visited {
  color: #848484;
  text-decoration: none;
  text-underline: none;
}
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
}
p {
  -webkit-font-smoothing: antialiased;
}
div.board {
    background-color: brown;
    width: 100%;
    background: #eab92d;
    background: -moz-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(57%, #eab92d), color-stop(99%, #c79810));
    background: -webkit-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -o-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -ms-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: radial-gradient(ellipse at center, #eab92d 57%, #c79810 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=1);

}
.scrollingParagraphs {
  margin-right: 300px;
}
.top-img {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  margin-right: -10px;
  width: 80px;
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  position: absolute;
  z-index: 1100;
}
.scroll {
  width: 50px !important;
}

div.portfolioItem {
    float: left;
    width: 20%; 
    cursor: -webkit-grab;
}

div.note:active {
    cursor: -webkit-grabbing;
}

div.note p {
    font-size: 22px;
    padding: 5px;
    font-family: "Shadows Into Light", Arial;
}

div.note:hover > span {
    opacity: 1;
}

div.portfolioItem > img {
    bottom: 2px;
    right: 2px;
}

div.note button {
    margin: 2px;
}

div.note > textarea {
    height: 75%;
    background: rgba(255, 255, 255, .5);
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.portfolioItem {
  min-width: 100px; 
}
.portfolioItem img {
  max-width: 100%;
  opacity: 0.6;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}
.portfolioItem img:hover {
  border-radius: 50%;
  max-width: 100%;
  opacity: 1;
  border:10px solid rgba(0,0,0,0);
}

.list ul {
  float: right;
}

.menu .list{
  margin-left:0%;
  float:right;
  transition: margin-left .5s ease-in;
  color: #ffffff !important;
}
.menu .list a {
  margin: 5px;
    margin-top: 15px;
}
.menu .list a, .menu .title a {
  align-items: center;
    display: inline-block;
    text-decoration: none;
} 
.menu h1 {
  font-size: 20px;
  margin-top: 14px;
  margin-left: 70px;
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.slide-title {
   margin-left: 42px !important;
}
span.menuList {
  text-align: right;
}
.menuBlock {
  display: block!important;
}
.menu{
    width: 100%;
  display: flex;
  align-items: center;
  flex-grow:1;
  padding-right: 30px;
  height: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5pt;
  background-image: url('../images/test.png');
  background-repeat: no-repeat;
  background-size: 1000px;
  position: fixed;
  z-index: 1100;
  background-color: rgba(53, 62, 100, 1);

  @media(--small){
    display: none;
  }

  span.list{
    margin-left:0%;
    text-align:right;
    transition: margin-left .5s ease-in;

    a{
      display:inline;
      position: relative;
      overflow: hidden;
      height: 100px;
      font-size: 18px;
      letter-spacing: 2px;
      transition: all .2s ease;

    }
  }
}
.menu .title a {
    margin-left: 20px;
    color: #ffffff;
}
.menu .list {
    margin-left: 0%;
    float: right;
    transition: margin-left .5s ease-in;
    color: #ffffff !important;
}
.mobilemenu{
  background-color: #353E64;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 1350;
    text-transform: uppercase;
    letter-spacing: 5pt;
    padding-top: 30px;

  .list{
    text-align: center;
    width: 100%;

    a{
      display: block;
      font-size: 28px;
      text-transform: uppercase;

      &.highlight{
      }

      &:hover{
      }
    }
  }
}
.mobileSubMenu{
  background-color: rgba(209,31,63,0.75);
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 800px;
  position: absolute;
  left: 0;
  z-index: 6;
  text-transform: uppercase;
  letter-spacing: 5pt;
  margin-top: 50px;

  .list{
    text-align: center;
    width: 100%;
  }
}
.mobileSubMenu a {
  display: block;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
}

.mobilebtn, .mobilelistbtn {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
.mobilebtn div, .mobilelistbtn div {
    width: 80%;
    margin: auto;
}
.mobilebtn span, .mobilelistbtn span {
    height: 5px;
    display: block;
    background: white;
    margin: 6px 0px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}
.mobilebtn:hover span .mobilelistbtn:hover span {
    height: 5px;
    display: block;
    background: rgba(209,31,63,0.75);
    margin: 6px 0px;
}
.mobileSubMenu hr, .post hr {
    border: 0;
    margin-left: 20px;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.50), rgba(255, 255, 255, 0));
    margin: 11px;
}
.post hr {
  margin: 50px;
}
.post:last-child hr {
  margin-bottom: 0;
}
.mobileListContainer > span {
  display: none;
}
  
.subMenu{
    width: 100%;
  display: flex;
  align-items: center;
  flex-grow:1;
  background-color: rgba(209,31,63,0.6);
  padding-right: 30px;
  height: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5pt;
  margin-top: 20px;
  text-align: center;
  z-index: 1000;
  margin-top: 70px;

  @media(--small){
    display: none;
  }

  span.list{
    margin-left:0%;
    text-align:right;
    transition: margin-left .5s ease-in;
  }
}

.subMenu a {
  color: #ffffff;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 40px;
  text-align: center;
  margin-top: 10px;
    display: inline-block;
}
.menu a {
  color: #ffffff;
  text-align: center;
}
.subMenu a:hover, .menu a:hover {
  text-decoration: none;
  color: #848484;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.main-container-div {
  min-width: 100%;
    min-height: 100%;
    padding: 40px;
    padding-top: 100px;
}
.main-container-div p {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13pt;
  max-width: 1300px;
}
.project-container {
  z-index:-500;
  margin-top:-30%;
}
#fullscreen {
  background: no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  overflow: auto;
}
#port-container {
  background: no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  margin-bottom: 300px;
}
#post-container {
  background: no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  background-color: rgba(36, 44, 82, 0.9);
}
.page-title {
  margin-left:40px;
  margin-top: 20px;
  letter-spacing: 5pt;
  text-transform: uppercase;
  font-size: 35px;
  color: #ffffff;
  padding-bottom: 20px;
  font-weight: 300;
}
.contact-form {
  margin-left: 20px;
  padding: 40px;
}
.contact-form p {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 3pt;
}
.form-horizontal .form-group {
  margin-right: 0;
}
.control-label {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2pt;
  text-transform: uppercase;
  font-weight: normal;
}
.contact-form {
  margin-left: 0px;
  padding-top: 100px;
}
#background-video {
  background: no-repeat center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-width: 100%;
    min-height: 100vh;
    float: right;
}
.contact-confirmation, .contact-error {
  margin-left: 20px;
  padding: 40px;
  display: none;
}
.contact-confirmation p, .contact-error {
  color: #ffffff;
  font-size: 12pt;
  margin-top: 60px;
  margin-left: 60px;
}
.section  {
  position: fixed;
  z-index: 1000;
  bottom: 30px;
  right: 30px;
}
.blog-images {
  margin-bottom: 30px;
}
.blogParagraphs p {
    margin: 0px 0px;
    color: white;
    padding-top: 20px;
    margin: 0 auto;
    font-size: 18.5px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}
.blogParagraphs p:first-child {
  padding-top: 40px;
}
 .blogParagraphs p:last-child {
  padding-bottom: 40px;
 }
.blog-body { 
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px 70px;
}
.blog-body h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5pt;
  text-align: center;
  margin: 40px;
  letter-spacing: 8pt;
 }
 
 //Modal Transitions
 .modal-anim-enter {
   opacity: 0.00;
   transform: scale(0.7);
   transition: all 0.2s;
 }
 .modal-anim-enter.modal-anim-enter-active {
   opacity: 1;
   transform: scale(1);
 }
 .modal-anim-leave {
   opacity: 1;
   transform: scale(1);
   transition: all 0.2s;
 }
 .modal-anim-leave.modal-anim-leave-active {
   opacity: 0.00;
   tranform: scale(0.7);
 }
 .project-modal {
   width: 100%;
   height: 105%;
   z-index: 5000;
   position: fixed;
   background: -webkit-linear-gradient(right, #2F2F4F, #121233); 
     background: -o-linear-gradient(left, #2F2F4F, #121233); 
     background: -moz-linear-gradient(left, #2F2F4F, #121233);
     background: linear-gradient(to left, #2F2F4F, #121233);
   padding: 20px;
   overflow: auto;
   top: 0;
   bottom: 0;
 }
 .modal-body h1, .modal-images {
   color: white;
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 5pt;
   text-align: center;
   /*margin: 40px;*/
   letter-spacing: 8pt;
 }
   .modal-body h1 {
    margin: 40px;
 }
 .modal-slider {
   min-height: 40vh;
 }
 .modal-images {
   margin-top: 40px;
 }
 .modal-body p {
   color: white;
   padding: 20px;
   margin: 40px 350px;
   background-color: rgba(255,255,255, 0.2);
   font-family: 'Open Sans', sans-serif;
 }
 .closeModal {
   float: right;
   z-index: 1000000;
 }
 .slide img {
   max-width: 800px;
   max-height: 600px;
 }
.slides {
    display: block;
  width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.slide-not-active {
   display: none;
}
.slide--active {
  display: block;
}

.modal-not-active {
  display: none;
}
.modal-active {
  display: block;
}
.toggle-prev {
  float: left;
  background-color: rgba(209,31,63,0.75);
  height: 130px;
  margin-top: -100px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}
.toggle-prev:hover {
  background-color: rgba(255,255,255, 0.2);
}
.toggle-prev:hover .glyph:before {
  color: rgba(209,31,63,0.75);
}
.toggle-next {
  float: right;
  background-color: rgba(209,31,63,0.75);
  height: 130px;
  margin-top: -100px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}
.toggle-next:hover {
  background-color: rgba(255,255,255, 0.2);
}
.toggle-next:hover .glyph:before {
  color: rgba(209,31,63,0.75);
}
.toggle-next .glyph:before {
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}
.toggle-prev:hover .glyph:before {
  color: rgba(209,31,63,0.75);
}
.toggle-prev .glyph:before {
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}
.pagination {
  margin: 20px;
  text-align: center;
}
.pager {
  background-color: red;
  display: inline-block;
  height: 20px;
  margin: 10px;
  overflow: hidden;
  text-indent: -9000px;
  white-space: nowrap;
  width: 20px;
}
.input {
  vertical-align: middle;
}
/*Bootstrap Overrides*/

/*Buttons*/
button {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}
.btn-primary {
   background: -webkit-linear-gradient(right, #F26839, #E81F32); 
     background: -o-linear-gradient(left, #F26839, #E81F32); 
     background: -moz-linear-gradient(left, #F26839, #E81F32);
     background: linear-gradient(to left, #F26839, #E81F32);
     -webkit-transition: background 1s ease-out;  
     -moz-transition: background 1s ease-out;  
     -o-transition: background 1s ease-out;  
     transition: background 1s ease-out;  
     border-color: rgba(0,0,0,0);
     text-transform: uppercase;
     letter-spacing: 5pt;
     border-radius: 0px;
     font-size: 13pt;
     padding-left: 15px;
}
.btn-primary:hover {
   background: -webkit-linear-gradient(right, #2F2F4F, #121233); 
     background: -o-linear-gradient(left, #2F2F4F, #121233); 
     background: -moz-linear-gradient(left, #2F2F4F, #121233);
     background: linear-gradient(to left, #2F2F4F, #121233);
     border-color: rgba(0,0,0,0);
     -webkit-transition: background 1s ease-out;  
    -moz-transition: background 1s ease-out;  
    -o-transition: background 1s ease-out;  
    transition: background 1s ease-out;  
}
/*Glyphicons*/
.glyphicon-plus {
    position: fixed;
    top: 10px;
    right: 10px;
}
.glyphicon-remove {
  color: white;
  font-size: 20pt;
}
.glyphicon-search {
  color:white;
  font-size: 15pt;
  vertical-align: middle;
}
.glyphicon-triangle-left, 
.glyphicon-triangle-right {
    font-size: 70pt;
    vertical-align: middle;
    margin-top: 15px;
 }

.jw-overlays {
      background: no-repeat center center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
    float: right !important;
}

#hero-video {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.jwplayer.jw-stretch-fill video {
    float: right;
    width: 150%;
    height: initial !important;
    position: initial !important;
}

.hero-content {
    z-index: 1000;
    position: absolute;
    right: 80px;
    top: 50%;
    margin-top: -380px;
    transform: translate(0%, 50%);
}
.hero-content h1, .hero-content h4 {
  color: #fff;
  text-align:center;
  font-family: 'Source Sans Pro', sans-serif;
}
.hero-content h1 {
    margin-top: -30px;
    margin-left: 110px;
}
.hero-content h4 {
  margin-left: 120px;
  margin-top: -10px;
}
.jwplayer {
  overflow:initial;
}
.fixed-page {
    height: 100vh;
    overflow-y: hidden;
  }
#svgDiv {
   max-width: 600px;
}
.letters {
 transition: fill 1s ease;
}
.st0{fill:#ffffff;fill: transparent; stroke:#FFFFFF;stroke-opacity:1;stroke-width:8;stroke-miterlimit:10;transition: fill 1s ease;}

 .fullLetters {
    fill:#ffffff;
    fill-opacity: 1;
     transition: fill 1s ease;
  }

  /*Media Queries*/
 @media (max-width: 1405px) {
  .subMenu a {
    color: #ffffff;
    font-size: 19px !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    letter-spacing: 3pt;
}
.modal-body p {
   margin: 40px 200px;
}
}
@media (max-width: 1100px) {
    .jwplayer.jw-stretch-fill video {
        height: 100% !important;
    }
}

@media (max-width: 992px) {
  .mobilebtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    top: 5px;
    position: fixed;
    right: 20px;
    z-index: 1500;
  }
  .mobileListContainer {
    background-color: rgba(209,31,63,0.75);
    width: 100%;
    height: 50px;
      margin-top: 75px;
  }
  .mobileListContainer > span {
    color: white;
    margin-left: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16.5pt;
    letter-spacing: 5pt;
    margin-top: 8px;
    z-index: 10000;
    display: inline-block;
  }
  .mobilelistbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    top: 80px;
    position: absolute;
    z-index: 1000;
  }
  .list {
  margin-top: 20px;
  }
  .list span {
  display: block;
  font-size:20pt;
  color: white;
  text-align: center;
  margin-top: 5px;
  }
  .list span a {
    color:white;
  }
  .modal-body p {
    margin: 0 10px !important;
  }
  .slide img {
    max-width: 95% !important;
    max-height: 360px !important;
  }
  .page-title {
    margin-left: 0px !important;
  }
  .main-container-div p {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #background-video {
    background: no-repeat center center; 
    -moz-background-size: cover;
    -o-background-size: cover;
    min-width: 100%;
    min-height: 100vh;
    float: left;
  }
  .video-container {
    overflow: hidden;
  }
  .main-bootstrap {
    padding-right: 0px !important;
  }
  div.portfolioItem {
    width: 50%;
    cursor: -webkit-grab;
  }
  .modal-body h1 {
    font-size: 20px;
    letter-spacing: 8px;
 }
  .scrollingParagraphs {
  margin-right: 200px;
}
}

@media (max-width: 650px) {
  .toggle-prev {
    float: left;
    background-color: rgba(209,31,63,0.75);
    margin-top: 10px !important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    z-index: 10000;
    width: 70px !important;
    margin-left: 60px !important;
    height: 100px !important;
}
  .toggle-next {
    background-color: rgba(209,31,63,0.75);
    margin-top: 10px !important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    z-index: 10000;
    width: 70px !important;
    margin-right: 60px !important;
    height: 100px !important;
  }
  .glyphicon-triangle-left, 
  .glyphicon-triangle-right {
    font-size: 50pt !important;
    vertical-align: middle;
    margin-top: 15px;
   }
 .controls {
     margin-bottom: 135px;
 }
 .blogParagraphs {
   margin-left: -10px;
   margin-right: 3px;
 }
 .blogParagraphs p {
    margin: 0px 30px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    background-color: rgba(255,255,255, 0.2);
    font-size: 15.5px;
    font-family: 'Open Sans', sans-serif;
}
    .scrollingParagraphs {
        margin-right: 0px;
    }
}
@media (max-width: 600px) {
    .hero-content {
        margin-left: 70px !important;
    }
    .hero-content h1 {
        margin-top: 5px !important;
        margin-left: 10px !important;
    }
    .hero-content h4 {
        font-size: 15pt !important;
         margin-left: 10px !important;
    }
}
.preLoad {
  opacity: 0;
}